
/************** Level sections ****************/
section.level {
  display: none;
}
section.level:target {
  display: flex;
}
.level {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.3rem;
}

/*************** Exercices ****************/
.exercice {
  border-radius: 0.375rem;
  width: 100%;
  padding: 1rem;
  color: dimgrey;
  background-color: white;
  border: 1px solid darkgrey;
  box-shadow: 2px 2px 4px rgba(0, 73, 76, 0.3);
}
.exercice + .exercice {
  margin-top: 2rem;
}
.exercice__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}
.exercice__header h3 {
  margin: 0rem;
}
.tag-list {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 0.6rem;
  line-height: 0.6rem;
}
.tag {
  border: 1px solid darkgrey;
  border-radius: 0.375rem;
  padding: 0.3rem;
  margin-right: 0.3rem;
  background-color: whitesmoke;
  color: dimgrey;
}
.tag::before {
  content: "";
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  background-color: white;
  border: 1px solid darkgrey;
  border-radius: 50%;
  margin-right: 0.3rem;
}
.exercice-part-list {
  display: flex;
  justify-content: space-around;
}
.exercice-part {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.exercice-part h4 {
  margin-top: 0rem;
  margin-bottom: 1rem;
}
.exercice-content {
  display: flex;
  justify-content: space-between;
}
.exercice-content a {
  width: 49%;
  border: 1px solid darkgrey;
  padding: 0.6rem;
  text-decoration: none;
  color: white;
  border-radius: 0.375rem;
  text-align: center;
}
.exercice-content .instruction {
  background-color: rgb(0, 196, 204);
}
.exercice-content .instruction:hover {
  background-color: rgba(178, 237, 240, 0.3);
  color: #00afb2;
}
.exercice-content .correction {
  background-color: rgb(178, 237, 240);
  color: #00afb2;
}
.exercice-content .correction:hover {
  background-color: rgba(178, 237, 240, 0.3);
}
/*************** Parts hidden to students ****************/
.prof {
  display: none;
}
