* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  margin: auto;
}

h2 {
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;
  color: #00C4CC;
}

/**************************** Header *********************************/
.header-container {
  position: sticky;
  top: 0;
  left: 0;
}
.header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat';
  background-color: #00c4cc;
  color: white;
  box-shadow: 0px 2px 4px rgb(0 73 76 / 30%);
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header__logo {
  padding: 0.2rem;
}
.header__title {
  margin: 0rem;
  letter-spacing: 0.3rem;
  line-height: 4rem;
}
.header__icon-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem;
}
.header .linkedin {
  width: 3.8rem;
  font-size: 1.5rem;
}
/*************************** Menu bar ********************************/
.menu {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  border: 1px solid #00c4cc;
  padding: 0rem;
  text-align: center;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 73, 76, 0.3);
}
.menu a {
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  text-decoration: none;
  color: #00afb2;
  background-color: rgb(0, 196, 204, 0.3);
}
.menu a:hover {
  background-color: white;
}
.menu a + a {
  border-left: 1px solid #00c4cc;
}
.menu .home {
  width: auto;
  font-size: 1.5rem;
  padding: 0.2rem;
}
/*********************** Main content *******************************/
.main-container {
  padding: 10px;
  width: 100%;
  /*
  background-image: url('../img/cover.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -2;
  */
}
