* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
}

header {
  background-color: lightgrey;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid darkgrey;
}

nav {
  padding: 10px;
  width: 100%;
  background-color: whitesmoke;
  box-sizing: border-box;
  border-bottom: 1px solid darkgrey;
}

nav div {
  border: 1px solid darkgrey;
  background-color: whitesmoke;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  height: 40px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover div {
  background-color: white;
}

main {
  padding: 10px;
  width: 100%;
}