body {
  margin: 10px;
  background-color: lightgrey;
}
.lettrine {
    float: left;
    margin-right: 10px;
    width: 40px;
}
.chat {
    float: right;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 300px;
}
.up-arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
}
