.gros-chiffre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--first-background-color);

  .header-chiffre {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60vw;

    span {
      line-height: 30vh;
      background-color: var(--first-color);
      color: var(--first-background-color);
      font-size: 26vh;
      font-family: var(--title-font-familly);
      font-weight: bold;
      white-space: pre-line;
    }
  }

  .main-content {
    margin-top: 1.5em;
    font-size: 4.5vh;

    span {
      background-color: var(--second-background-color);
      font-family: var(--code-font-familly);
    }
    span.important {
      background-color: red;
      color: white;
    }
  }
}
