* {
  margin: 0rem;
  padding: 0rem;
  text-decoration: none;
  list-style-type: none;
}
.parent {
  background-color: red;
  padding: 0.25rem;
  font-size: 0.8rem;
}
.child {
  background-color: green;
  font-size: 0.4rem;
  padding: 0.2rem;
  margin: 0.2rem;
  border: 0.2rem solid black;
}
