@font-face {
  font-family: 'Amatic SC';
  src: url('../fonts/AmaticSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Amatic SC';
  src: url('../fonts/AmaticSC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('../fonts/SourceCodePro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
